## Python Skill Test

1. "Hello World!" 를 출력하세요.

In [35]:
import pandas as pd

In [56]:
print("Hello World!")

Hello World!

2. name 이라는 이름의 변수를 생성하세요.
3. 이 변수에 본인의 이름을 저장하세요.
4. name을 출력하세요.
5. type()을 사용해 name의 데이터 타입을 출력하세요.

In [4]:
name = ""
name = "김중헌"
print(name)

김중헌

In [5]:
print(type(name))

<class 'str'>

6. age 라는 이름의 변수를 생성하세요.
7. 이 변수에 본인의 나이를 문자열이 아닌 숫자형으로 저장하세요.
8. age를 출력하세요.
9. type()을 사용해 age의 데이터 타입을 출력하세요.

In [6]:
age = "" 
age = 29
print(age)

29

In [7]:
print(type(age))

<class 'int'>

10. %s를 사용해서 name 변수의 문자열 데이터 타입의 값을,
    %d를 사용해서 age  변수의 정수형 데이터 타입 값의 출력하세요.

In [8]:
print("이름: ", name, "나이: ", age )

이름:  김중헌 나이:  29

In [41]:
print("이름: %s 나이: %d" % (name, age))

이름: 김중헌 나이: 29

11. {} 와 .format을 사용해서 10번 문제 답처럼 출력하세요.

In [42]:
print("이름: {} 나이: {}".format(name, age))

이름: 김중헌 나이: 29

12. 튜터링팀 중 최고팀인 저희 4조 팀원들의 이름을 리스트로 생성하세요.
13. 리스트를 출력하세요.
14. 리스트에서 두번째 이름만 출력하세요.

In [1]:
tutoring_team4 = ["김중헌", "김형일", "조민정", "주채연"]

In [2]:
print(tutoring_team4)

['김중헌', '김형일', '조민정', '주채연']

In [3]:
print(tutoring_team4[1])

김형일

15. 리스트에 현재 수업 교수님 이름을 추가 후 출력하세요.

In [46]:
tutoring_team4.append("김태경")

In [47]:
print(tutoring_team4)

['김중헌', '이하림', '조민정', '주채연', '김태경']

#### 이번에는 로또 번호 예측을 해봅시다.
16. 6개의 서로 다른 숫자로 이루어진 리스트를 생성하세요.
17. 이 리스트에서 최솟값과 최댓값을 출력하세요.
18. 이 리스트의 평균값을 출력하세요.

In [48]:
lotto = [1, 11, 21, 31, 41, 45]

In [49]:
print(lotto)

[1, 11, 21, 31, 41, 45]

In [50]:
print(min(lotto))

1

In [51]:
print(max(lotto))

45

In [52]:
print(sum(lotto)/len(lotto))

25.0

In [53]:
import numpy as np

print(np.mean(lotto))

25.0

## 클래스 예시

In [54]:
class Dog:
    name = ""
    breed = ""
    age = 0
    
    def bark(self):
        print("올해", self.age, "살", self.breed, self.name, "(이)가 관심을 달라고 왈왈 짖었다.")

In [55]:
badook = Dog()
badook.name = "바둑이"
badook.breed = "시고르자브종"
badook.age = 3
badook.bark()

올해 3 살 시고르자브종 바둑이 (이)가 관심을 달라고 왈왈 짖었다.